<template>
  <q-page class="" padding>
   <dashboard />
  </q-page>
</template>

<script>
import dashboard from '../components/dashboard/index'
export default {
  name: 'PageIndex',
  components:{
    dashboard
  }
}
</script>
