<template>
  <q-page class="bg-grey-3" padding>
     <q-carousel
      animated
      v-model="slide"
      navigation
      infinite
      autoplay
      arrows
      transition-prev="slide-right"
      transition-next="slide-left"
    >
      <q-carousel-slide :name="1" img-src="../statics/images/crude_1.jpg" />
      <q-carousel-slide :name="2" img-src="../statics/images/estate.jpg" />
    </q-carousel>
    <q-card dark class="bg-primary flex flex-center q-my-sm">
      <q-card-section>
        <div class="text-h4 text-weight-light">Packages</div>
      </q-card-section>
    </q-card>
    {{mypackages}}
    <thepackage :subscribe="true" :packages="mypackages" />
  </q-page>
</template>

<script>
import thepackage from '../components/common/package'
import {requestMixin} from '../components/mixins/ajaxMixins'
export default {
  mixins:[requestMixin],
  name: 'PageIndex',
  components:{
    thepackage
  },
  data() {
    return {
      slide: 1,
      mypackages: null
    }
  },

mounted() {
  this.mainpackage();
},

  methods: {
    mainpackage(){
      const endPoint = process.env.Api + '/api/package';
      const data = this.$axios.get(endPoint)
      .then(response => {
        console.log(response);
        this.mypackages = response.data.data;
      })

    }
  },
}
</script>
