<template>
  <div>
    <q-header class="bg-white q-pa-xs"  style="margin-top:50.4px">
       <div class="row q-gutter-y-sm">
      <q-card dark class="col-xs-12 col-sm-12 col-md-6 bg-primary ">
        <q-card-section horizontal>
          <q-card-section class="column flex-center col-10">
            <div class="text-h4 text-bold">N5000</div>
            <div class="text-caption">balance</div>
          </q-card-section>
           <q-separator vertical dark/>
          <q-card-actions vertical dark class="q-px-xs col-2">
            <div class="flex flex-center">
              <withdrawal />
            </div>

            <q-btn flat round color="white" icon="ion-stats" :to="{name : 'investments'}" />
          </q-card-actions>
        </q-card-section>
      </q-card>

      <q-card class="col-xs-12 col-sm-12 col-md-6 q-px-xs cursor-pointer" @click="this,$router.push({name: 'transaction'})">
        <q-card-section class="col-10 flex flex-center " >
            <div class="text-h4 text-weight-bold text-primary">Transaction</div>
          </q-card-section>
      </q-card>


    </div>
    </q-header>


    <q-card flat class="col-xs-12 col-sm-12 col-md-12" style="margin-top:50.4px">
      <q-card-section>
        Packages
      </q-card-section>

      <q-card-section class="no-padding">
        <thepackage :packages="packages" />
      </q-card-section>
    </q-card>


  </div>
</template>

<script>
import withdrawal from '../common/withdrawal'
import thepackage from '../common/package'
export default {
  // name: 'ComponentName',
  components:{
    withdrawal, thepackage
  },
  data () {
    return {
      lorem: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
      packages:[
        {
          categories: {name:'oil & gas'},
          amount: '100,000',
          roi: '10',
          duration: '2 month',
          name: '#cd7f32'
        },
        {
          categories: {name:'oil & gas'},
          amount: '200,000',
          roi: '10',
          duration: '2 month',
          name: 'silver'
        },
        {
          categories: {name:'real estate'},
          amount: '500,000',
          roi: '15',
          duration: '6 month',
          name: '#cd7f32'
        },
        {
          categories: {name:'oil & gas'},
          amount: '300,000',
          roi: '16',
          duration: '2 month',
          name: 'gold'
        }
      ]
    }
  }
}
</script>

