<template>
  <div class="row">
    {{investmentData}}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-2 q-px-xs q-my-xs" v-for="(item, index) in packages" :key="index">

      <q-card :style="'background-color:'+ item.name">
        <q-card-section class="no-padding">
          <q-item>
            <q-item-section>
              <q-item-label class="text-left text-bold">{{item.categories.name}}</q-item-label>
            </q-item-section>
            <q-item-section side class="text-black">
              <q-item-label class="text-right">{{item.name == '#cd7f32' ? 'bronze' : item.name}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section class="column flex-center">
          <div class="text-caption">Amount</div>
          <div class="text-h4 text-bold">N5000</div>
        </q-card-section>
        <q-card-section class="no-padding">
          <q-item>
            <q-item-section>
              <q-item-label>{{item.roi}}% ROI</q-item-label>
            </q-item-section>

            <q-item-section side class="text-black">
              <q-item-label>{{item.duration}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-separator color="primary"/>
          <q-card-actions class="q-px-xs col-2">
            <q-btn v-if="!subscribe" flat no-caps size="sm" color="primary" label="Details" />
            <q-space />
            <q-btn v-if="subscribe" no-caps size="sm" color="primary" label="Subscribe" @click="subscribeNow(item)" />
          </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  props:['packages', 'subscribe'],
  // name: 'ComponentName',
  data () {
    return {
      investmentData: null
    }
  },

  methods: {

    subscribeNow(item){
      const nowDate = Date.now()
      const randomToken = Math.floor(Math.random() * 1000)
      const endPoint = process.env.Api + '/api/investment';
      const data = this.$axios.post(endPoint, {
        'package_id': item.id,
        'duration':item.duration,
        'roi': item.roi,
        'token': 'RRI_' + nowDate + randomToken
      })
      .then(response => {
        console.log(response);
        this.investmentData = response.data.data;
      })
    }
  },
}
</script>
