<template>
  <div>
    <q-btn flat color="primary" text-color="white" no-caps icon="ion-ios-wallet" @click="withdraw = true" />

    <q-dialog v-model="withdraw">
      <q-card>
        <q-card-section>
          <div class="text-h6">Withdraw</div>
          <div class="text-caption">How much would you be withdrawing?</div>
        </q-card-section>
        <q-card-section>
          <q-input square outlined v-model="form.amount" label="" >
            <template v-slot:prepend>
              <div class="text-bold text-primary text-h6">
                N
              </div>
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn no-caps size="sm" label="OK" color="primary" />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import card from './card'
export default {
  // name: 'ComponentName',
  components:{
    card
  },
  data () {
    return {
      withdraw : false,
      form:{
        amount: ''
      }
    }
  }
}
</script>
