<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn v-if="route != 'home'" round flat class="lt-md" @click="leftDrawerOpen = !leftDrawerOpen">
          <q-avatar size="26px">
            <img src="https://cdn.quasar.dev/img/boy-avatar.png">
          </q-avatar>
          <q-tooltip>Account</q-tooltip>
        </q-btn>
        <q-toolbar-title v-if="route == 'home'">

          <div class="text-subtitle1 gt-sm">Real Royal investment</div>
          <div class="text-caption lt-md">Real Royal investment</div>
        </q-toolbar-title>


        <q-toolbar-title v-if="route !== 'home'" class="cursor-pointer" @click="this,$router.push({name: 'packages'})">
          <div class="text-subtitle1 gt-sm">Real Royal investment</div>
          <div class="text-caption lt-md">Real Royal investment</div>
        </q-toolbar-title>
         <q-btn v-if="route == 'how'" color="white" flat size="sm" icon="home" :to="{name: 'home'}" />
         <q-btn v-if="route == 'home'" color="white" flat no-caps label="How it Works" :to="{name: 'how'}" />
         <!-- <q-btn color="white" flat size="sm" icon="fas fa-tachometer-alt" :to="{name: 'dashboard'}" />
         <q-btn color="white" flat size="sm" icon="settings" :to="{name: 'settings'}" /> -->


        <div v-if="route != ('home'||'how')" class="row flex-center">
          <div class="text-bold">N5,000</div>
          <div class="gt-sm">
            <q-btn round flat icon="menu">
              <q-menu>
                <q-list style="min-width: 100px">
                   <q-item clickable v-close-popup :to="{name: 'home'}">
                    <q-item-section>Home</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup :to="{name: 'packages'}">
                    <q-item-section>Package</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup :to="{name: 'dashboard'}">
                    <q-item-section>Dashboard</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup :to="{name: 'transaction'}">
                    <q-item-section>Transaction</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup :to="{name: 'investments'}">
                    <q-item-section>Investment</q-item-section>
                  </q-item>
                  <q-item clickable v-close-popup :to="{name: 'settings'}">
                    <q-item-section>Settings</q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
          </div>
        </div>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-1"
      class="lt-md"
    >
      <q-list>
        <q-item-label
          header
          class="text-grey-8"
        >
          Essential Links
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      leftDrawerOpen: false,
      path: $route.name =='home' || $route.name =='how' ? false : true,
      essentialLinks: [
        {
          title: 'Docs',
          caption: 'quasar.dev',
          icon: 'school',
          link: 'https://quasar.dev'
        },
        {
          title: 'Github',
          caption: 'github.com/quasarframework',
          icon: 'code',
          link: 'https://github.com/quasarframework'
        },
        {
          title: 'Discord Chat Channel',
          caption: 'chat.quasar.dev',
          icon: 'chat',
          link: 'https://chat.quasar.dev'
        },
        {
          title: 'Forum',
          caption: 'forum.quasar.dev',
          icon: 'record_voice_over',
          link: 'https://forum.quasar.dev'
        },
        {
          title: 'Twitter',
          caption: '@quasarframework',
          icon: 'rss_feed',
          link: 'https://twitter.quasar.dev'
        },
        {
          title: 'Facebook',
          caption: '@QuasarFramework',
          icon: 'public',
          link: 'https://facebook.quasar.dev'
        }
      ]
    }
  },
  computed: {
    route(){return this.$route.name},
    tester(val){
      if (val == 'home' || val == 'how') {
        return false
      } else{return true}
    }
  },
}
</script>
