<template>
  <q-card class="">
    <q-card-section class="">
      <div class="text-h5 text-primary text-center">SignUp</div>
    </q-card-section>
     <q-card-section class="q-py-none q-gutter-y-xs">
      <q-input dense outlined v-model="form.name" label="Name" />
      <q-input dense outlined v-model="form.phone" label="Phone Number" />
      <q-input dense outlined v-model="form.email" label="Email" />
      <q-input dense outlined v-model="form.password" label="Password" />
      <q-input dense outlined v-model="form.confirm_password" label="Confirm Password" />
    </q-card-section>
    <q-card-section class="">
      <q-btn color="primary" class="full-width" no-caps label="SignUp" :to="{name: 'packages'}" />
    </q-card-section>
    <q-card-actions align="center">
      <q-btn color="primary" flat class="q-px-md" no-caps label="Forgot Password" :to="{name: 'forget'}" />
      <q-btn color="primary" flat class="q-px-md" no-caps label="Login" :to="{name: 'login'}" />
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      form:{
        name : '',
        phone : '',
        email : '',
        password : '',
        confirm_password : '',
      }
    }
  }
}
</script>
